<div class="section-title">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="#">interView code</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  {{!-- <a class="nav-link" href="mailto:robinphilipthomas95@gmail.com">Contact</a> --}}
                  <a class="nav-link typeform-share link" href="https://robin462.typeform.com/to/MHPqOL" data-mode="drawer_right" style="color:#FFFFFF;text-decoration:underline;font-size:14px;" data-hide-headers=true data-hide-footer=true data-submit-close-delay="5" target="_blank">Contact </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
              </li>
          </ul>
      </div>
    </nav>
    <div class="title-block">
      <div class="title-heading text-center">
        <h1>A simple shared online code editor to make Interviews easy</h1>
      </div>
      <div class="title-button">
          <button class='btn btn-primary' {{action (action 'transitionToCode')}}>Start a session now</button>
      </div>
      <div class='title-image'>
        <img src="assets/images/title-pic.png" width='1000' alt="">
      </div>
    </div>
  </div>
</div>
<div class="section-faq">
  <div class="container">
    <div class="faq-header col-12 text-center">
      <h3>Frequently Asked Questions</h3>
      <p class='sub-heading'>Can't find an answer? Don't hesitate to reach out!</p>
      <div class="faq-list">
        <b class='faq-title'>What is interView code?</b>
        <p class='faq-desc'>
          InterView code is a collaborative code editor made specifically for remote technical interview sessions. 
        </p>
        <b class='faq-title'>Why use interView code?</b>
        <p class='faq-desc'>
          InterView code is superior to any conventional code sharing tools used like a word doc or simply the chat interface used
          in a phone interview.  We have build interView code to offer a calm and easy experience for the interviewer as well as the interviewee. 
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section-feature-points">
  <div class='feature-list'>
    <div class="feature-box">
      <span class='circle'>
        <i class="fas fa-2x fa-lightbulb"></i>
      </span>
      <span class='feature-title'>Easy to use</span>
      <p class='feature-desc'>
        We have designed interView<br>code to make your technical interview sessions easier and simple. 
      </p>
    </div>

    <div class="feature-box">
      <span class='circle'>
        <i class="fas fa-2x fa-pencil-ruler" aria-hidden="true"></i>
      </span>
      <span class='feature-title'>80+ languages support</span>
      <p class='feature-desc'>
        We support syntax highlighting for more than 80+ programming languages.
      </p>
    </div>

    <div class="feature-box">
      <span class='circle'>
        <i class="fas fa-2x fa-code-branch"></i>
      </span>
      <span class='feature-title'>Free of cost</span>
      <p class='feature-desc'>
        You are free to use interView code with as many interviewees as possible.
      </p>
    </div>
  </div>
</div>
<div class="section-computer">
  <div class="container-lrg">
    <div class="col-full flex">
      <div class="computer">
        <div class="mask mask__noimage">
          <img src="assets/images/laptop-image.png" width='800' alt="">
        </div>
        <div class="computer-bottom">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container-lrg">
     <div class="col-full flex">
       <div class="footer-items">
        <a class="footer-item">
          <a href="mailto:robinphilipthomas95@gmail.com">
            <i class="fas fa-envelope"></i>
          </a>
        </a>
        <a class="footer-item">
          <a href="https://github.com/MalayaliRobz/interView-code">
            <i class="fab fa-github"></i>
          </a>
        </a>
       </div>
       <div class="licence">
        <span>©</span>
        <span>interView Code 2018</span>
       </div>
     </div>
  </div>
</div>