<div class="section-title">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="#">interView code</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
              </li>
          </ul>
      </div>
    </nav>
    <div class="title-block">
      <div class="title-heading text-center">
        <h1>A simple shared online code editor to make Interviews easy</h1>
      </div>
      <div class="title-button">
          <button class='btn btn-primary' {{action (action 'transitionToCode')}}>Start a session now</button>
      </div>
      <div class='title-image'>
        <img src="http://via.placeholder.com/1000x640" alt="">
      </div>
    </div>
  </div>
</div>
<div class="section-faq">
  <div class="container">
    <div class="faq-header col-12 text-center">
      <h3>Frequently Asked Questions</h3>
      <p class='sub-heading'>Can't find an answer? Don't hesitate to reach out!</p>
      <div class="faq-list">
        <b class='faq-title'>What is interView code?</b>
        <p class='faq-desc'>
          The sky is blue due to something called 'Rayleigh scattering'.
          Basically, light interacts with the air and scatters.
          However unlike normal scattering (like you would have with a light in a room),
          this scattering is proportional to the wavelength of the light. Hence higher frequency light
          (like blue light) is scattered more strongly, while the other colours tend to follow the path of normal
          sunlight!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section-feature-points">
  <div class='feature-list'>
    <div class="feature-box">
      <span class='circle'>
        <i class="fas fa-2x fa-rocket"></i>
      </span>
      <span class='feature-title'>Easy to use</span>
      <p class='feature-desc'>
        We have designed interView code to make your technical interview sessions easier and simple. 
      </p>
    </div>

    <div class="feature-box">
      <span class='circle'>
        <i class="fas fa-2x fa-rocket"></i>
      </span>
      <span class='feature-title'>80+ languages support</span>
      <p class='feature-desc'>
        We support syntax highlighting for more than 80+ programming languages.
      </p>
    </div>

    <div class="feature-box">
      <span class='circle'>
        <i class="fas fa-2x fa-rocket"></i>
      </span>
      <span class='feature-title'>Free of cost</span>
      <p class='feature-desc'>
        You are free to use interView code with as many interviewees as possible.
      </p>
    </div>
  </div>
</div>
<div class="section-computer">
  <div class="container-lrg">
    <div class="col-full flex">
      <div class="computer">
        <div class="mask mask__noimage">
          <img src="http://via.placeholder.com/800x500" alt="">
        </div>
        <div class="computer-bottom">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container-lrg">
     <div class="col-full flex">
       <div class="footer-items">
        <a class="footer-item">
          <i class="fas fa-envelope"></i>
        </a>
        <a class="footer-item">
          <i class="fab fa-github"></i>
        </a>
       </div>
       <div class="licence">
        <span>©</span>
        <span>interView Code 2018</span>
       </div>
     </div>
  </div>
</div>